@using AplicacaoWeb.Models.Pessoas
@model PessoasModel;
<div class="text-center">
    <h1>Alunos</h1>
    <br>
    <h3>Pessoas</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Turma</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pessoa in Model.Pessoas)
            {
            <tr>
                <td>@pessoa.Id</td>
                <td>@pessoa.Nome</td>
                <td>@pessoa.Turma</td>
                <td>@pessoa.Situacao</td>
                <td>
                    <a type="button"
                       class="btn btn-warning"
                   asp-controller="Alunos"
                   asp-action="Record"
                   asp-route-id="@pessoa.Id">Editar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>