@using AplicacaoWeb.Models.Pranchas
@model PranchasModel;
<div class="text-center">
    <h1 class="h1 m-4">Pranchas</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Litragem</th>
                <th>Altura</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prancha in Model.Pranchas)
            {
                <tr>
                    <td>@prancha.Id</td>
                    <td>@prancha.Modelo</td>
                    <td>@prancha.Litragem</td>
                    <td>@prancha.Altura</td>
                    <td>
                        <a type="button"
                           class="btn btn-warning"
                       asp-controller="Pranchas"
                       asp-action="Record"
                       asp-route-id="@prancha.Id">Editar</a>
                       <a type="button"
                           class="btn btn-danger"
                       asp-controller="Pranchas"
                       asp-action="Excluir"
                       asp-route-id="@prancha.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
