@using AplicacaoWeb.Models.Carros
@model CarrosModel;
<div class="text-center">
    <table class="table table-striped">
        <h1>Carros</h1>
        <thead>
            <tr>
                <th>Código</th>
                <th>Modelo</th>
                <th>Placa</th>
                <th>Ano</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carro in Model.Carros)
            {
                <tr>
                    <td>@carro.Id</td>
                    <td>@carro.Modelo</td>
                    <td>@carro.Placa</td>
                    <td>@carro.Ano</td>
                    <td>
                        <a type="button"
                           class="btn btn-warning"
                       asp-controller="Carros"
                       asp-action="Record"
                       asp-route-id="@carro.Id">Editar</a>
                        <a type="button"
                           class="btn btn-danger"
                       asp-controller="Carros"
                       asp-action="Excluir"
                       asp-route-id="@carro.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
